<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/><!--此标签告诉Spring通过注解的方式注入对象，所以第20行代码注释掉，加上第4行xsd的命名空间和第8行xsd的位置-->
    <bean id="blackDogs" class="com.gmr.pojo.BlackDog">
        <!--注入属性-->
        <property name="dogName" value="啸天"></property>
        <property name="dogAge" value="10"></property>
    </bean>

    <bean id="dogs" class="com.gmr.pojo.Dogs">
        <property name="dogClass" value="黑狗"></property>
        <!--注入上面配置好的bean对象-->
        <!--<property name="blackDog" ref="blackDogs"></property>-->
    </bean>

</beans>